html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-style: normal;
  font-family: "Verdana", serif;
}

header {
  background-color: black;
  width: 100%;
  height: 105px;
  padding: 0px;
  margin: auto;
  border-bottom: 10px solid #666;
}

.navigation {
  margin: auto;
  width: 1050px;
}

.logo {
  float: left;
  margin-top: 25px;
  margin-left: 0px;
}

.line-thin {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  width: 1px;
  height: 95px;
  background: url("line.png") no-repeat center;
}

.menu {
  float: left;
  margin-top: 20px;
}

.language {
  float: right;
  margin-top: 5px;
  margin-right: 0px;
}
.line-inside {
  width: 1050px;
  height: 3px;
  background: url("line-inside.png") repeat-x;
}

.line-inside-top {
  margin-top: 50px;
  width: 1050px;
  height: 3px;
  background: url("line-inside.png") repeat-x;
}

p {
	font-size: 13px;
	font-weight: 400;
	font-family: 'Noto Sans', sans-serif;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-position: inside;
  line-height: 14px;
}
.menu ul {
	list-style: none;
}

a {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: white;
}

label {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
	padding-bottom: 5px;
	margin-top: 20px;
	display: inline-block;
}

main {
  margin: auto;
  width: 1050px;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  color: #9e2965;
  font-family: 'News Cycle', sans-serif;
	margin: auto;
	padding-bottom: -20px;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  font-family: 'Noto Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

h3 {
	font-size: 13px;
	font-weight: 700;
	font-family: 'Noto Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

#close {
  float: right;
  position: relative;
  top: -26px;
  right: -55px;
  width: 55px;
  height: 55px;
}

#screen {
	text-align: center;
}

.description {
	margin-bottom: 20px;
	margin-top: 20px;
}


.description ul, .description p {
	font-size: 13px;
	font-weight: 400;
	font-family: 'Noto Sans', sans-serif;
}

.description ul  {
	color: #9e2965;
	line-height: inherit;
}

.description span {
	color: black;
}
.part-1, .part-2, .part-3, .part-4 {
	width: 50%;
	padding: 15px;
}

.part-1, .part-3 {
	float: left;
	clear: both;
}

.part-2, .part-4 {
	margin-left: 50%;
}

.col-1a input, .col-2a input, .col-1b input, .col-2b input {
	border: 1px solid #d5d5d5;
}

.clear {
	clear: both;
}

#form {
	background-color: #efefef;
	padding: 5%;
}

.col-1a, .col-2a {
	width: 25%;
}
.col-1a {
	float: left;
	clear: both;
}
.col-2a {
	margin-left: 26%;
}

.col-1a input, .col-2a input {
	width: 200px;
	height: 25px;
}

.col-1b {
	width: 35%;
	float: left;
	clear: both;
}

col-2b {
	width: 10%;
}

.col-1b input {
	width: 300px;
	height: 25px;
}

.col-2b input {
	width: 114px;
	height: 25px;
}

.col-1b, .col-2b {
	margin-top: 40px;
}

.col-1c, .col-2c {
	margin-top: 10px;
	margin-bottom: 40px;
}

.col-1c {
	float: left;
	clear: both;
}

#send {
	float: right;
	padding: 5px;
	width: 210px;
	height: 45px;
	background-color: orange;
	border: none;
	color: white;
	font-size: 21px;
	font-weight: 700;
	font-family: 'Noto Sans', sans-serif;
}

#point {
	position: relative;
	top: -150px;
	left: -70px;
}

footer {
	background-color: black;
	width: 100%;
	min-width: 1000px;
	height: 75px;
	font-size: 12px;
	color: white;
}

.footer-contents {
  display: flex;
  justify-content: center;
}

.footer-part {
	float: left;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
}

footer p {
	padding: 2px;
	float: right;
}

footer img {
	padding-top: 6px;
}

@media screen and (max-width: 320px) {

	html, body {
		width: 320px;
}

	header {
		background-color: black;
		width: 100%;
		height: 105px;
		padding: 0px;
		margin: auto;
		border-bottom: 10px solid #666;
}
	#logo {
		width: 150px;
  	float: left;
  	margin-top: 10px;
  	margin-left: 15px;
	}

	main {
		width: 320px;
	}

	.part-1, .part-2, .part-3, .part-4   {
		float: none;
	}

	.part-1, .part-2, .part-3, .part-4 {
		margin: 10px;
		width: 250px;
		padding: 15px;
	}

	.line-thin {
		margin-left: 15px;
		margin-right: 15px;
	}
	.language {
		display: none;
	}

	.line-inside, .line-inside-top {
		width: 200px;
	}

	#close {
		display: none;
	}

	h1 {
		font-size: 28px;
		line-height: 40px;
		padding-top: 10px;
	}

	h2 {
		font-size: 16px;
		padding-top: 10;
		padding-bottom: 10px;
	}

	#monitor {
		width: 230px;
	}

	#point {
		display: none;
	}

	#form {
		padding: 5px;
}

	#form h2 {
		padding: 0px;
		margin: 0px;
	}

	.col-1a, .col-2a, .col-1b, .col-2b, .col-1c {
		float: none;
		margin-left: 15px;
		margin-bottom: 5px;
		margin-top: 5px;
		padding: 0px;
	}

	.col-2c {
		text-align: center;
	}

	#send {
		float: none;
		width: 150px;
		height: 35px;
		font-size: 16px;
	}
	footer {
		width: 100wv;
		height: 200px;
		font-size: 10px;
		color: white;
		min-width: 320px;
	}

	.footer-contents {
		display:block;
		margin-left: 10px;
		margin-top: 30px;
	}

	.footer-part {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 0px;
	}

	footer p {
		padding: 2px;
		float: right;
	}

	footer img {
		padding-top: 6px;
	}
}
